.navbar {
    width: 375px;
    height: 67px;
    background-color: #C3CFD9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 34px;
    line-height: 39.84px;
    color: #E8833A;
    position: relative;
}

.icon {
    position: absolute;
    top: 5;
    left: 0;
}
